
.container{
    width:100vw;
    // width:max-content;
    height: 80vh;
    // margin:auto;
    // width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .form-Container{
        width:35vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(230, 242, 252);
        padding: 1%;
        border:2px solid rgb(208, 234, 255);
        border-radius: 10px;
        color:rgba(0, 0, 0);
        box-shadow: 2px 2px 7px 2px rgb(71, 64, 64);
        // margin-top:10%;
    // color:white;
    // background-color: rgb(4, 95, 122);
    // @media screen {
        
    // }
    @media only screen and (max-width:500px){
        
            width: 90vw;
            // margin-top: 20%;
    }
    
    @media (min-width:800px)  and (max-width:1000px){
        width:50vw;
    }
    @media (min-width:500px)  and (max-width:800px){
        width:70vw;
    }


    h1{
        margin-top: 5%;
        width:fit-content;
        // margin:auto;
        
    }
    .btn{
        display: flex;
        justify-content: center;
        
        button{
       
        width: max-content;
        color: white;
        border-radius: 5px;
        padding: 2% ;
        border: 2px solid rgb(5, 112, 184);
        background-color: rgb(7, 130, 212);
        &:hover{
            cursor: pointer;
                }
        }



    }

    .taskInput{
        $margin:3%;
        display: flex;
        flex-direction: column;
        padding: 1%;
        margin:$margin;
        #TextField{

            margin-bottom: 1%;
        }
        label{
            // padding:1% 0px;
            // margin:0px $margin;
            font-size: large;
        }
        input{

            width:30vw;
            margin:$margin 0px;
            // padding: 1.5%;
            // margin-top:0px;
            border:2px solid rgb(207, 202, 192);
            // border-radius: 5px;
        }
    }
}

@media only screen and (max-width:400px){

    .form-Container{
        width: 90vw;
        margin-top: 20%;
    }
}
}

#TextField{

    margin-bottom: 1%;
    width:30vw;
}
input{

    width:30vw;
    // margin:$margin 0px;
    // padding: 1.5%;
    // margin-top:0px;
    border:2px solid rgb(207, 202, 192);
    // border-radius: 5px;
}