.Header{

    display: flex;
    justify-content:space-around;
    // width:100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
    background-color: rgb(6, 178, 190);
    color: white;

    #heading{
        flex:1;
    }
    h1{
        margin:0.5% auto;
    }

    

    @media (min-width:300px) and (max-width:700px){
        flex-direction: column;
        .Navbar{
            width:100%
        }
    }

}




