.Navbar{

    display: flex;
    justify-content: space-around;
    flex:1;
    word-wrap: initial;
    
    .NavbarLink{
        // text-decoration: none;
        color:black;
        color: white;
    }
}