@use './AllTask.scss' as Parent;

.TaskContainer{
    
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    width:40vw;
    
    border: 2px solid rgb(27, 179, 218);
    margin:1.5%;
    padding:1%;
    padding-bottom:2px;

    padding-top: 0.5%;
    border-radius: 5px;
    box-shadow: 3px 4px 7px rgb(34, 34, 34);
    transition: 0.5s;
    // transition-delay: 0.5s;
    background-color: white;
    color:white;

    color:Parent.$heading-color;


    @media only screen and (max-width:500px){
        
        width: 90vw;
        // margin-top: 20%;
        }

    @media (min-width:800px)  and (max-width:1000px){
        width:60vw;
    }
    @media (min-width:500px)  and (max-width:800px){
        width:70vw;
    }
    
    &:hover{
        cursor: pointer;
        padding:1.2%;
        
    }
    .label{
            font-weight: 500;
        }
    .Information{
        margin-top:2%;
        margin-bottom: 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        flex-wrap: wrap;
       
        
    }

}
#tooltip{

    background-color: black;
    // padding: 2%;
    color:white;
    border-left: 5px transparent green;
    border :5p solid black;

    div{
        border:5px solid red;
        border-right:5px transparent red;
        border-left: 5px transparent red;

    }

}

.piority{
    color:red;
}

#tool{
   
    margin: 1%;
    padding: 2%;
    color:brown;
    font-size: larger;
    font-weight: bold;

}